<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python daora presente</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <main>
        <div>

            <h1 class="titulo">Pesquisa sobre Python</h1>
            <div class="parte">
                <p class="subtitulo">O que é Python?</p>
                
                <div>
                    <p class="subtitulo2">Para que serve?</p>
                    <p class="texto">É uma linguagem de programação versátil e de alto nível, amplamente utilizada para
                        automação de tarefas, análise e ciência de dados, inteligência artificial (IA), Machine Learning e
                        desenvolvimento web.</p>
                    </div>
                    
                    
                    <div>
                        <p class="subtitulo2">Vantagens de usar Python na vida profissional</p>
                        <p class="texto">Utilizar Python na vida profissional oferece vantagens estratégicas, tanto para
                            desenvolvedores quanto para profissionais de outras áreas, devido à sua versatilidade, simplicidade
                            e alta demanda no mercado. A linguagem é amplamente adotada por grandes empresas (Google, Netflix,
                            Spotify) para automação, análise de dados e inteligência artificial.</p>
                        </div>
                        
                    </div>
                    
                    <div class="parte">
                        <p class="subtitulo">O que é POO(Programação Orientada a Objetos)</p>
                        <div>
                            <p class="subtitulo2">Conceito</p>
                            <p class="texto">é um paradigma que organiza o código em torno de "objetos" (instâncias), simulando o mundo real. Estrutura programas em classes (modelos) que encapsulam atributos (dados/características) e métodos (comportamentos/funções), facilitando a reutilização, organização e manutenção de software</p>
                        </div>
                        
                        <div>
                            <p class="subtitulo2">Qual a vantagem de utilizar o POO?</p>
                            <p class="texto">A Programação Orientada a Objetos (POO) como classes, herança e polimorfismo, oferece vantagens essenciais como alta reutilização de código, facilidade de manutenção e maior modularidade. Ela permite modelar entidades do mundo real de forma intuitiva, aumentando a produtividade e a colaboração em projetos complexos, organizando dados e comportamentos juntos.</p>
                        </div>
                    </div>
                </div>
                    
                <div>
                    <img src="" alt="">

                </div>

    </main>
</body>
<script src="script.js"></script>

</html>
